<div class="container-fluid mt-5 text-center">
    <div class="row p-5">
        <div class="col mt-5">
            <h1 class="fw-bolder">ABOUT US</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum quis ea sapiente magni odio eveniet voluptatibus corrupti deleniti similique cum nihil, eius vero minus asperiores ut velit soluta deserunt quo.</p>
        </div>
    </div>
    <div class="row p-5">
            <div class="col-md-4">
           <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
           </ul>
        </div>
        <div class="col-md-4">
            <ul>
             <li>
                 <a href="#">Trending</a>
             </li>
             <li>
                 <a href="#">Best Seller</a>
             </li>
             <li>
                 <a href="#">Most Searched</a>
             </li>
            </ul>
         </div>
         <div class="col-md-4">
            <ul>
             <li>
                 <a href="#">About Us</a>
             </li>
             <li>
                 <a href="#">Contact Us</a>
             </li>
             <li>
                 <a href="#">Services</a>
             </li>
            </ul>
         </div>
    </div>
</div>